<div id="categories" class="box">
  <h3 class="title">联系我们</h3>
  <div class="inner">
    <ul>
      <li>联系电话：<%= SiteSetting.got(:company_telphone) -%></li>
      <li>公司地址：<%= SiteSetting.got(:company_address) -%></li>
    </ul>
  </div><!-- end:inner -->

</div><!-- end:categories -->