/* line 4, ../../../app/stylesheets/application.scss */
body {
  background-color: #bdbdbd;
}

/* line 8, ../../../app/stylesheets/application.scss */
#container {
  width: 960px;
  margin: 0 auto;
  background: #FFF;
}

/* line 14, ../../../app/stylesheets/application.scss */
#header {
  height: 100px;
  border-bottom: 2px solid #FF9900;
}

/* line 19, ../../../app/stylesheets/application.scss */
#header h1 {
  padding: 10px;
}

/* line 23, ../../../app/stylesheets/application.scss */
#nav {
  margin: 8px;
  background: #26B3CF;
  clear: both;
  height: 38px;
}

/* line 35, ../../../app/stylesheets/application.scss */
#nav li {
  float: left;
  list-style-type: none;
  margin: 0 2px 0 0;
  padding: 0;
  white-space: nowrap;
  line-height: 24px;
}

/* line 44, ../../../app/stylesheets/application.scss */
#nav li a {
  background-color: #47838F;
  color: #FFF;
  font-weight: bold;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

/* line 53, ../../../app/stylesheets/application.scss */
#content {
  float: right;
  width: 80%;
}

/* line 58, ../../../app/stylesheets/application.scss */
#sidebar {
  width: 20%;
}

/* line 62, ../../../app/stylesheets/application.scss */
#sidebar .wrapper {
  background: #D1E4EF;
}

/* line 66, ../../../app/stylesheets/application.scss */
#content .wrapper, #sidebar .wrapper {
  margin: 10px;
  padding: 10px;
}

/* line 71, ../../../app/stylesheets/application.scss */
#footer {
  border-top: 2px solid #FF9900;
  margin-top: 8px;
}

/* line 76, ../../../app/stylesheets/application.scss */
#footer .bgl {
  padding: 10px;
}
