/* line 6, ../../../app/stylesheets/application.scss */
body {
  background-color: white;
}

/* line 10, ../../../app/stylesheets/application.scss */
#container {
  width: 950px;
  margin: 0 auto;
  background: #FFF;
}

/* line 16, ../../../app/stylesheets/application.scss */
#header {
  height: 76px;
}

/* line 20, ../../../app/stylesheets/application.scss */
#header h1 {
  margin: 0;
  padding: 0;
  height: 76px;
  text-indent: -999px;
  background: url(/images/front/logo.jpg) no-repeat;
}

/* line 27, ../../../app/stylesheets/application.scss */
#nav {
  background: url("/images/front/top.png") no-repeat scroll 0 0 transparent;
  height: 33px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* line 38, ../../../app/stylesheets/application.scss */
#nav .wrapper {
  height: 33px;
  line-height: 33px;
  margin: 0;
  overflow: hidden;
  padding-left: 24px;
}

/* line 47, ../../../app/stylesheets/application.scss */
#nav a {
  color: #474747;
  display: block;
  float: left;
  font: bold 14px/33px "SimSun", Arial, Sans-Serif;
  height: 33px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  width: 110px;
}

/* line 59, ../../../app/stylesheets/application.scss */
#nav a:hover {
  color: #FF6600;
}

/* line 64, ../../../app/stylesheets/application.scss */
#content {
  width: 80%;
}

/* line 69, ../../../app/stylesheets/application.scss */
html > body #content {
  min-height: 600px;
}

/* line 73, ../../../app/stylesheets/application.scss */
#sidebar {
  width: 230px;
  float: left;
}

/* line 85, ../../../app/stylesheets/application.scss */
#main.nosidebar #sidebar {
  display: none;
}

/* line 86, ../../../app/stylesheets/application.scss */
#main.nosidebar #content {
  width: auto;
  border-right: 0;
}

/* line 89, ../../../app/stylesheets/application.scss */
#footer {
  border-top: 2px solid #FF9900;
  margin-top: 8px;
}

/* line 94, ../../../app/stylesheets/application.scss */
#footer .bgl {
  padding: 10px;
}

/***** Links *****/
/* line 99, ../../../app/stylesheets/application.scss */
a, a:link, a:visited {
  color: #2A5685;
  text-decoration: none;
}

/* line 100, ../../../app/stylesheets/application.scss */
a:hover, a:active {
  color: #c61a1a;
  text-decoration: underline;
}

/* line 101, ../../../app/stylesheets/application.scss */
a img {
  border: 0;
}

/* line 106, ../../../app/stylesheets/application.scss */
#login-form table {
  margin-top: 5em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FDBF3B;
  background-color: #FFEBC1;
}

/* line 107, ../../../app/stylesheets/application.scss */
#login-form table td {
  padding: 6px;
}

/* line 108, ../../../app/stylesheets/application.scss */
#login-form label {
  font-weight: bold;
}

/* line 109, ../../../app/stylesheets/application.scss */
#login-form input#admin_session_login, #login-form input#admin_session_password {
  width: 300px;
}
