/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 7, ../../../app/stylesheets/application.scss */
body {
  background-color: white;
}

/* line 11, ../../../app/stylesheets/application.scss */
#container {
  width: 950px;
  margin: 0 auto;
  background: #FFF;
}

/* line 17, ../../../app/stylesheets/application.scss */
#header {
  height: 76px;
}

/* line 21, ../../../app/stylesheets/application.scss */
#header h1 {
  margin: 0;
  padding: 0;
  height: 76px;
  text-indent: -999px;
  background: url(/images/front/logo.jpg) no-repeat;
}

/* line 28, ../../../app/stylesheets/application.scss */
#nav {
  background: url("/images/front/top.png") no-repeat scroll 0 0 transparent;
  height: 33px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* line 39, ../../../app/stylesheets/application.scss */
#nav .wrapper {
  height: 33px;
  line-height: 33px;
  margin: 0;
  overflow: hidden;
  padding-left: 24px;
}

/* line 47, ../../../app/stylesheets/application.scss */
#nav a {
  color: #474747;
  display: block;
  float: left;
  font: bold 14px/33px "SimSun", Arial, Sans-Serif;
  height: 33px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  width: 110px;
}

/* line 59, ../../../app/stylesheets/application.scss */
#nav a:hover {
  color: #FF6600;
}

/* line 64, ../../../app/stylesheets/application.scss */
#content {
  width: 710px;
  border-width: 0px;
  float: right;
}

/* line 70, ../../../app/stylesheets/application.scss */
html > body #content {
  min-height: 600px;
}

/* line 74, ../../../app/stylesheets/application.scss */
#sidebar {
  width: 230px;
  float: left;
}

/* line 86, ../../../app/stylesheets/application.scss */
#main.nosidebar #sidebar {
  display: none;
}

/* line 87, ../../../app/stylesheets/application.scss */
#main.nosidebar #content {
  float: left;
  width: 950px;
}

/* line 90, ../../../app/stylesheets/application.scss */
#footer {
  clear: both;
  border-top: 2px solid #BDBDBD;
  margin-top: 8px;
}

/* line 96, ../../../app/stylesheets/application.scss */
#footer .bgl {
  padding: 10px;
}

/***** Links *****/
/* line 101, ../../../app/stylesheets/application.scss */
a, a:link, a:visited {
  color: #2A5685;
  text-decoration: none;
}

/* line 102, ../../../app/stylesheets/application.scss */
a:hover, a:active {
  color: #c61a1a;
  text-decoration: underline;
}

/* line 103, ../../../app/stylesheets/application.scss */
a img {
  border: 0;
}

/* line 108, ../../../app/stylesheets/application.scss */
#login-form table {
  margin-top: 5em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FDBF3B;
  background-color: #FFEBC1;
}

/* line 109, ../../../app/stylesheets/application.scss */
#login-form table td {
  padding: 6px;
}

/* line 110, ../../../app/stylesheets/application.scss */
#login-form label {
  font-weight: bold;
}

/* line 111, ../../../app/stylesheets/application.scss */
#login-form input#admin_session_login, #login-form input#admin_session_password {
  width: 300px;
}
