/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../../app/stylesheets/application.scss */
body {
  background-color: #bdbdbd;
}

/* line 8, ../../../app/stylesheets/application.scss */
#container {
  width: 960px;
  margin: 0 auto;
  background: #FFF;
}

/* line 14, ../../../app/stylesheets/application.scss */
#header {
  height: 100px;
  border-bottom: 2px solid #FF9900;
}

/* line 19, ../../../app/stylesheets/application.scss */
#header h1 {
  padding: 10px;
}

/* line 23, ../../../app/stylesheets/application.scss */
#nav {
  margin: 8px;
  background: #26B3CF;
  clear: both;
  height: 38px;
}

/* line 35, ../../../app/stylesheets/application.scss */
#nav li {
  float: left;
  list-style-type: none;
  margin: 0 2px 0 0;
  padding: 0;
  white-space: nowrap;
  line-height: 24px;
}

/* line 44, ../../../app/stylesheets/application.scss */
#nav li a {
  background-color: #47838F;
  color: #FFF;
  font-weight: bold;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

/* line 53, ../../../app/stylesheets/application.scss */
#content {
  float: right;
  width: 80%;
}

/* line 58, ../../../app/stylesheets/application.scss */
#sidebar {
  width: 20%;
}

/* line 62, ../../../app/stylesheets/application.scss */
#sidebar .wrapper {
  background: #D1E4EF;
}

/* line 66, ../../../app/stylesheets/application.scss */
#content .wrapper, #sidebar .wrapper {
  margin: 10px;
  padding: 10px;
}

/* line 71, ../../../app/stylesheets/application.scss */
#footer {
  border-top: 2px solid #FF9900;
  margin-top: 8px;
}

/* line 76, ../../../app/stylesheets/application.scss */
#footer .bgl {
  padding: 10px;
}
