<div id="login-form">
    <%= form_for @admin_session, :url => admin_session_path do |form| %>
        <table>
            <tr> 
              <td align='right'><label for="admin_session_login">员工帐号:</label></td>
              <td align='left'><%= form.text_field "login", :size => 30, :maxlength => 50, :class => "text" %></td>
            </tr>

            <tr> 
              <td align='right'><label for="admin_session_password">密码:</label></td>
              <td align='left'><%= form.password_field :password, :value => "", :maxlength => 50, :class => "text" %></td>
            </tr>
            
            <tr> 
              <td align='left'><% "link_to '不记得密码了？', new_password_path " %></td>
              <td align='right'><%= form.submit raw "登录 &#187;"  %></td>
            </tr>
        </table>
       <% end %>
  </div>