<div id="recommend_products" class="box">    
    <h3 class="title">推荐产品</h3>
    <div class="inner"> 

        <% Product.recommend_products(3).each do |product| %> 

          <div class='product'>
            <div class="product_inner">
              <%= link_to(image_tag(product.avatar.url(:thumb)), product) %>
            </div>
            <h4><%= link_to product.name, product %></h4>
          </div>

        <% end %>

    </div><!-- end:inner-->
  </div><!-- end:recommend_products -->