/* layout */
body{padding:0; margin:0;} 
#wrapper { 
  width:100%;
  min-width:1120px;
  position:relative;
  padding-bottom:30px;
}
#header { position:relative } 
.footer{
  position:absolute;
  bottom:0;left:0;
  background:transparent url('../images/bg_footer.gif') repeat-x 0 0; 
  height:29px;
  width:100%;
  color:#fff;
  line-height:29px;
  text-align:center; 
  font-size:10px;min-width:1120px;
}
#main.nosidebar #sidebar{ display: none; }
#main.nosidebar #content{ width: auto; }
#main #content{  
  margin-left:190px; 
  -moz-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15); 
  }
#main #sidebar{ float:left; width:180px; }

#sidebar .content_box{
  -moz-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
  background:none repeat scroll 0 0 #FFFFFF;
  border:1px solid #C9CACD;
  margin-bottom:20px;
}

.content_box .inner_box_header{
  border-bottom:1px solid #EEEEEE;
  padding:10px 20px;
  position:relative;
}                   

.content_box .inner_box_body {
  padding: 7px;
}

.inner_box_body li{ display:block;}
.inner_box_body li span { display: block; float: right;}
.inner_box_body li span a{ color:#BDBDBD;}

body{ font-family:verdana,tahoma,arial,宋体; }
div,ul,li,h3,p,h2,ol,form,dl,dt,dd{padding:0; margin:0; list-style:none; font-size:12px;}

a{ color: #a61d24; text-decoration:none;}
a img{ border:none;}
a:hover{color:#FF9900;}
.cb{display:block; clear:both;}
.c_y{ color:#f7d66d;}


textarea{height:80px;}



.logo{ position:absolute; top:0;left:0;width:280px; height:72px;}
.site_nav{background:transparent url('../images/bg_site_nav.gif') repeat-x 0 0;height:35px; width:100%;}
.site_nav .message{ float:left;margin-left:350px;padding-top:10px;color:#fff;}
.site_nav .admin_info{ float:right;margin-right:50px;padding-top:5px;}
.site_nav .admin_info span{color:#fff; float:left;margin-right:15px; line-height:21px;}
a.exit{ background:transparent url('../images/btn_exit.gif') no-repeat 0 0; display:block; width:73px; height:21px; float:left;}
                                                                                       


.menubox{background:transparent url('../images/bg_menubox.gif') repeat-x 0 0; height:34px; width:100%;padding:3px 0 0 0;}
.menubox li{float:left;padding:8px 18px 0; height:26px;color:#2a3a5e; background:transparent url('../images/bg_line.gif') no-repeat right 0; text-align:center;}
.menubox li a{color:#1a3b81;}
.menubox li a:hover{ color:#b9391c;}
.menubox li.on{ background:transparent url('../images/bg_nav_on.gif') no-repeat 0 0; color:#fff; font-weight:bold;padding:8px 0 0; width:89px;}
.menubox li.on a{color:#fff; font-size:12px;}
.menubox li.none{ background:none;width:282px; padding:0;}

#main{ background-color: #eef2fd; padding:2px 4px; min-height:480px; }

.edit{ display:block; float:left;margin-right:10px;background:transparent url('images/btn_bg_a.gif') no-repeat 0 0;font-size:12px;color:#364e66; width:38px;line-height:18px;left:18px; text-align:center;vertical-align:middle;}


.admin{ background:transparent url('../images/bg_admin.png') no-repeat 0 0; width:1006px; margin:0 auto; height:600px; position:relative;}
.logopanel{width:460px; height:255px; position:absolute;top:220px; left:265px;padding-left:175px;padding-top:100px; background:transparent url('../images/bg_logopanel.png') no-repeat 0 0;}
.logopanel li{padding:0 0 10px 0; height:20px; line-height:20px;}
.logopanel li span{float:left; width:60px; color:#484848;}
input.text{background-color:transparent;  border:none; width:150px; margin-left:20px; overflow:hidden; float:left;}
.logopanel li input.mg_none{margin:0; width:80px;}
.a_btn{ padding:3px; line-height:26px;text-align:center; vertical-align:middle; font-weight:bold;color:#173a6c; margin-right:10px;}
.imgbox{ float:left; margin-left:20px;}
.logopanel li.mg_t1{margin-top:1px;}
.logopanel li.mg_t2{margin-top:2px;}

#content { background: #FFF;padding:5px 5px; border:1px solid #BDBDBD;}
#content h2{ padding: 10px; margin-bottom:8px; border-bottom:2px solid #BDBDBD;}
#content .h3_tab{margin-bottom:-0px; height:27px;}
#content .h3_tab a{display:block;background: transparent url('../images/bg_content_h3.gif') repeat-x 0 0;border:2px #d1dae3 solid;border-bottom:none; height:22px;padding:5px 20px 0; float:left;}
#content .detailbox{ background-color:#f8f8f8; border:2px #dae1eb solid;padding:10px;}
.search{padding:10px;}
.btn_search{ border:none;background:transparent url('../images/btn_search.gif') no-repeat 0 0; width:59px;height:21px;}
.search p{ float:left;margin-right:20px;}
.search span{ color:#283b5c;padding-right:5px;}
.content .list{} 

/* list table style */
.list table.tab{ border:1px #d9e2eb solid;padding:1px;}
.list table.tab th{ background:transparent url('../images/bg_th.gif') repeat-x 0 0; height:21px; border-left:1px #d2dae5 solid;border-right:1px #f1f2f7 solid; color:#2f3430;}
.list table.tab td{height:24px; text-align:center; color:#4d6ba9;}
.list table .work span{padding-right:10px;}
.list table .work span a{color:#4c6ca7;}
.bg_blue{ background-color:#eef2fd;}


/* pagination */
div.pagination{padding: 3px;margin: 3px;text-align:right;}
div.pagination a{color: #003399;padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #006ACD;text-decoration: none;}
div.pagination a:hover, div.pagination a:active{border:1px solid #A00E15;
color:#A00E15;
}
div.pagination a.current{padding: 2px 5px 2px 5px;margin: 2px;background-color:#FFEDE1;
border:1px solid #A00E15;
color:#A00E15;
font-weight:bold;}
div.pagination span.disabled{padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #006ACD;color: #678ACF;}

/* error_explanation */
#error_explanation{margin-bottom:10px;padding:8px;border:1px solid red;}
#error_explanation ul{margin-top: 8px;}
#error_explanation li{list-style-position:inside;
list-style-type:decimal;color:red;}
.field_with_errors input{border:1px solid red;}
 
/* tabular form style */
html > body .tabular p {
overflow:hidden;
} 
.tabular {  display: block; }

.tabular p {
margin: 0;
padding: 5px 0 8px 170px;
}

.box{
  background-color: #F6F6F6;
  border: 1px solid #E4E4E4;
  color: #505050;
  line-height: 1.5em;
  margin-bottom: 10px;
  padding:6px; 
}

.tabular label {
  float:left;
  font-weight:bold;
  margin-left:-190px;
  text-align:right;
  width:175px;  
}       

/***** Tables *****/
table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap;border:1px solid #D7D7D7; }
table.list td { vertical-align: top; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 0px;}
table.list td.buttons { width: 15%; white-space:nowrap; text-align: right; }
table.list td.buttons a { padding-right: 0.6em; }
table.list caption { text-align: left; padding: 0.5em 0.5em 0.5em 0; } 

table.list tbody tr:hover { background-color:#ffffdd; }
table.list tbody tr.group:hover { background-color:inherit; }
table td {padding:2px;}  

table.list tbody td, table.list tbody tr:hover td {
  border:1px solid #D7D7D7;
}

/***** Tabs *****/
#content .tabs { height: 2.6em; margin-bottom:1.2em; position:relative; overflow:hidden;}
#content .tabs ul { margin:0; position:absolute; bottom:0; padding-left:1em; width: 2000px; border-bottom: 1px solid #bbbbbb;}
#content .tabs ul li {
  float:left;
  list-style-type: none;
  white-space: nowrap;
  margin-right: 8px;
  background: #fff;
  position: relative;
  margin-bottom:-1px; 
}
#content .tabs ul li a{
  display:block;
  font-size: 0.9em;
  text-decoration:none;
  line-height:1.3em;
  padding:4px 6px 4px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  background-color: #eeeeee;
  color:#777;
  font-weight:bold;
}

#content .tabs ul li a:hover {
  background-color: #ffffdd;
  text-decoration:none;    
}

#content .tabs ul li a.selected {
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-bottom: 1px solid #fff; 
}

#content .tabs ul li a.selected:hover {
  background-color: #fff;
} 


#navmenu_list_sortable {
  height:40px;
  margin-bottom: 10px;
}

#navmenu_list_sortable li {
  float: left;
  border: 1px solid #BDBDBD;
  margin-right:8px;
  width: 70px;
  padding:8px; 
  font-weight: bold;
  cursor:move;
  background: #EFFFFA;
}



