$background_color: #FFFFFF;
$container_width: 950px;
$sidebar_width: 230px;
$header_height: 76px;

body {
  background-color: $background_color;  
}                                     

#container {
  width: $container_width;
  margin: 0 auto;
  background:#FFF;
}

#header {
  height: $header_height;
} 

#header h1{ 
  margin:0;padding:0;
  height:76px;
  text-indent:-999px;
  background:url(/images/front/logo.jpg) no-repeat;
}

#nav {    

background:url("/images/front/top.png") no-repeat scroll 0 0 transparent;
height:33px;
margin:0;
overflow:hidden;
white-space:nowrap;
     

  
}
#nav .wrapper{

height:33px;
line-height:33px;
margin:0;
overflow:hidden;
padding-left:24px;
}                    

#nav a{
color:#474747;
display:block;
float:left;
font:bold 14px/33px 'SimSun',Arial,Sans-Serif;
height:33px;
margin:0;
text-align:center;
text-decoration:none;
width:110px;  
}

#nav a:hover{
color:#FF6600;
}                 
  

#content {
       
  width: 80%;
}

html > body #content {
  min-height:600px;
}

#sidebar {
  width: $sidebar_width; 
  float: left;
}

#sidebar .wrapper {

}  

#content .wrapper, #sidebar .wrapper {

}             
#main.nosidebar #sidebar{ display: none; }
#main.nosidebar #content{ width: auto; border-right: 0; }


#footer {
  border-top: 2px solid #FF9900;
  margin-top: 8px;
}                  

#footer .bgl{padding: 10px;} 
 


/***** Links *****/
a, a:link, a:visited{ color: #2A5685; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: underline;}
a img{ border: 0; }




#login-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #FDBF3B; background-color:#FFEBC1; }
#login-form table td {padding: 6px;}
#login-form label {font-weight: bold;}
#login-form input#admin_session_login, #login-form input#admin_session_password { width: 300px; }
