$background_color: #FFFFFF;
$container_width: 950px;
$main_width: 710px;
$sidebar_width: 230px;
$header_height: 76px;       
$nav-padding-left: 25px;
$nav_height: 33px;
$nav_menu_item_width: 100px; 

/* pages layout */

#container {
  width: $container_width;
  margin: 0 auto;
}  

#content {
   width: $main_width;
   border-width: 0px;
   float:right;
}

html > body #content {
  min-height:600px;
}

#sidebar {
  width: $sidebar_width; 
  float: left;
} 

#sidebar {
  width: $sidebar_width; 
  float: left;
}

#sidebar .wrapper {

}  

#content .wrapper, #sidebar .wrapper {

}      
       
#main.nosidebar #sidebar{ display: none; }
#main.nosidebar #content{ float:left; width: $container_width; } 

#footer { 
  clear:both;
  border-top: 2px solid #BDBDBD;
  margin-top: 8px;
}                  

#footer .bgl{padding: 10px;}
#header {
  height: $header_height;
} 

#header h1{ 
  margin: 0; 
  padding: 0;
  height: $header_height;
} 

#nav {
  height: $nav_height;
  margin:0;
  overflow:hidden;
}

#nav .wrapper{
  height: $nav_height;
  line-height: $nav_height;
  margin:0;
  overflow:hidden;
  padding-left: $nav-padding-left;
}

#nav a{
  display:block;
  float:left;
  height: $nav_height;
  margin:0;
  text-align:center;
  width: $nav_menu_item_width;  
}
 

/* pages theme */
body {
  background-color: $background_color;  
}                                     

#container {
  background:#FFF;
}

#header h1{ 
  text-indent:-999px;
  background:url(/images/front/logo.jpg) no-repeat;
}

#nav {    
  background:url("/images/front/top.png") no-repeat scroll 0 0 transparent;
  white-space:nowrap; 
}

#nav .wrapper{
} 

                   

#nav a{
  color:#474747;
  font:bold 14px/33px 'SimSun',Arial,Sans-Serif;
  text-decoration:none;
}

#nav a:hover{
  color:#FF6600;
}                 
  

#content {

}

html > body #content {

}

#sidebar {
}

#sidebar .wrapper {

}  

#content .wrapper, #sidebar .wrapper {

}             

#footer { 
  border-top: 2px solid #BDBDBD;
} 


/***** Links *****/
a, a:link, a:visited{ color: #6F7C7F; text-decoration: none; }
a:hover, a:active{ color: #FF9900; text-decoration: underline;}
a img{ border: 0; }



/* login page style */
#login-form {  font-size: 2em; margin: 20px; background-color:#5F5F5F; text-align: center;}
#login-form #back_link{font-size: 12px; position: absolute; z-index:10; right: 22px; top: 4px; }
#login-form #copyright{ font-size: 14px; padding: 8px;} 

#login-form h1{ margin:4px; padding:4px; }
#login-form .wrapper{ padding: 20px; border: 2px solid #4F4F4F; background :#BDBDBD;  }

#login-form p {padding: 6px;}
#login-form label {font-weight: bold;}
#login-form input#admin_session_login, #login-form input#admin_session_password { width: 300px; padding: 10px; font-size: 1em; border: 2px solid #7F7F7F;} 
#admin_session_submit{ font-size: 20px;}
