<% title "首页" %> 

<div id="company_introduce">
   <h3 class="title">公司简介</h3>
   <div class="wrapper">
      <%= simple_format SiteSetting.got(:company_introduce) %>
   </div>
</div>
          
<div id="latest_products">
  <div class="wrapper">
    <h3>最新产品</h3>
    <% @latest_products.each do |product| %>
      <div class='product'>
        <div class="product_inner"><%= link_to(image_tag(product.avatar.url(:thumb)), product) %></div>
        <h4><%= link_to product.name, product %></h4>
      </div> 
    <% end %>
  </div>
</div>

<div id="latest_notices">
  <div class="wrapper">
    <h3>公司新闻</h3>
    <ul>   
      <% @latest_notices.each do |notice| %>
        <li><%= link_to notice.title, notice, :title => notice.title %></li>
      <% end %>
    </ul>   
  </div>               
</div>

<% content_for :sidebar do %>

<% end %>