<% content_for :sidebar do %>
  <ul>   
    <% @latest_notices.each do |notice| %>
      <li><%= link_to notice.title, notice, :title => notice.title %></li>
    <% end %>
    </ul>
<% end %> 

<% @latest_products.each do |product| %>
  <div class='product'>
    <h3><%= product.name %><h3>
      <div><%= product.price %></div> 
  </div>
<% end %>
