html {
  scrollbar-face-color : #6EDEDED;
}

body {
  margin: 0 auto;
  padding: 0;
  font:12px Arial,微软雅黑,Helvetica,sans-serif;
  line-height:180%;
  color:#333;
  text-align:left;
  background:#EDEDED url(bg.gif) left top repeat-x;
  white-space:normal; 
  word-break:break-all;
}

img  {border: 0px;}
*{
	margin:0;
	padding:0;
}


fieldset, img {border:0;}
li {list-style:none;}
body,button, input, select, textarea,img /* for ie */ {font: tahoma,Helvetica,arial, "\5b8b\4f53", sans-serif;vertical-align:middle;font-size:12px;}
address, cite, dfn, em, var { font-style: normal; } 
code, kbd,samp { font-family: courier new, courier, monospace; }

ins {text-decoration:none;}
del {text-decoration:line-through;}
h1, h2, h3, h4, h5, h6 {}
h1 {font-size: 2em;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.38em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;font-style: italic;}
address,cite,dfn,em,var{font-style:normal;}
caption,td {font-weight: normal;}
cite, blackquote, em, i {font-style: italic;}
strong, b {	font-weight: bold;}
pre, code {font-family: monospace;font-size: 1.1em;}

div,form,img,ul,ol,li,dl,dt,dd,p {
  margin:0;
  padding:0;
  border:0;
}


table,td,tr,th{
  font-size:12px;
}

ul,ol,li {
  list-style:none;
}

img {
  border:0;
}

.clear {
  clear:both;
}

.floatleft {
  float:left;
}

.floatright {
  float:right;
}

.clear {
  clear:both;
}


/*  */

#banner {clear:both;}

/************* 分页 */

.pages {
  clear:both;
  margin:0px 10px;
}

.pages strong {
  color:#555;
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  background:#F5F5F5;
  border:1px solid #ccc;
  margin: 0px 3px 0px 0px;
}
.pages a {
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  border:1px solid #CCC;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#555;
}

.pages span {
  float:right;
}


/****************内容*/
#title h1 {

  line-height:40px;
  padding-top:20px;
  font-size:22px;
  text-align:center;
  background:url(point.gif) left bottom repeat-x;
  color:#333;
  font-weight:bold;
}

.contentinfo {
  line-height:24px;
  text-align:center;
  color:#999;
  padding-right:15px;
}

.contentinfo a {color:#999;}

.text {
  padding:30px 20px;
  text-align:14px;
  line-height:200%;
  color:#333;

}



.floatright {float:right;}
.floatleft {float:left}

.blank10,.blank30,.blank20 {clear:both;height:10px;overflow:hidden;}
.blank30 {height:30px;}
.blank20 {height:20px;}

/*工具*/
#tool {
	font-size:12px;
	line-height:20px;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	height:20px;
	margin:10px 0;
	padding:10px 0 10px 10px;
	overflow: hidden;
}
#tool ul {
	float:left;
}
#tool ul li {
	float:left;
	width:90px;
	line-height:20px;
}
#tool .commentary, #tool .print, #tool .copy, #tool .email, #tool .close, #tool .rss_2, #tool .t_1, #tool .t_2, #tool .t_3 {
	background-image: url(tool.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	display:block;
	margin:0 10px 0 0;
	color:#333;
}
#tool .print {
	background-position: left -40px;
}
#tool .copy {
	background-position: left -80px;
}
#tool .email {
	background-position: left -100px;
}
#tool .close {
	background-position: left -60px;
}
#tool .rss_2 {
	background-position: left -120px;
}
#tool .t_1 {
	background-position: left -140px;
}
#tool .t_2 {
	background-position: left -160px;
}
#tool .t_3 {
	background-position: left -180px;
}

#tool .t_4 {padding-left:20px;background:url(comment.gif) left 3px no-repeat;}
#tool .orders {padding-left:20px;background:url(orders.gif) left 2px no-repeat;}
#tool .sinaicon {padding-left:20px;background:url(sinaicon.png) left 1px no-repeat;}
/************* 分类列表 */
.news_list {
  padding:10px;
  text-align:left;
}

.news_list li {
  clear:both;
  line-height:28px;
  padding-left:15px;
  border-bottom:1px dotted #999;
  background:url(icon06.gif) left 12px no-repeat;
}

.news_list li a {
  color:#666;
}

.category_title {
  clear:both;
  line-height:28px;
  color:#333;
  padding:0px 15px 0px 30px;
  margin-bottom:10px;
  background:#F5F5F5 url(icon04.gif) 10px 10px no-repeat;
  border-bottom:1px solid #ccc;
}

.category_title span {
  float:right;
}

.category_title h4 {
  font-size:14px;
}

.news_text h5,.news_text_pic h5 {
  float:right;
  width:525px;
  font-weight:bold;
  font-size:12px;
  text-align:left;
  color:#333;
  padding-left:20px;
  background:url(icon05.gif) left 6px no-repeat;
  _background:url(icon05.gif) left 12px no-repeat;
}

.news_text h5 {
  width:700px;
}

.news_text h5,.news_text_pic h5 a {
  color:#333;
}

.news_list .date,.news_text h5 .date,.news_text_pic h5 .date,.strgrade {
  float:right;
  padding-right:15px;
  color:#999;
  font-weight:normal;
}

.strgrade {
  display:block;
  width:160px;
  text-align:left;
}

.news_list p {
  margin:5px;
  padding:5px 5px 5px 20px;
  background:#FFF;
  text-indent:2em;
}

.news_text,.news_text_pic {
  clear:both;
  height:auto;
  padding:10px 0px;
  border-bottom:1px dotted #ccc;
}


.news_text p,.news_text_pic p {
  float:right;
  width:560px;
  text-align:left;
  color:#999;
  padding:5px;
  text-indent:2em;
}

.news_text p {
  width:710px;
}

a.news_text_img {
  display:block;
  float:left;
  height:100px;
  overflow:hidden;
  border:1px solid #ccc;
}

.news_text_img img {
  height:100px;
  margin-right:15px;
}

.list1 a,.list2 a,.list3 a {
  padding-right:30px;
  background:url(new.gif) right 2px no-repeat;
}

/************* 产品 */
.product_box {
  float:left;
  width:142px;
  margin:15px 15px 0px;
  padding:5px;
  background:url(piclist_1.png) right top no-repeat;
  overflow:hidden;
}
.product_box img {
  width:142px;
}

.product_box a {
  display:block;
  width:142px;
  height:114px;
  font-size:12px;
  overflow:hidden;
}

.product_box h5 {
  margin-top:10px;
  text-align:center;
  font-weight:normal;
}

.product_box h5 a {
  height:44px;
  line-height:18px;
}

.p_info {
  height:20px;
  line-height:20px;
  padding-left:30px;
  background:url(bullet1.gif) left top no-repeat;
  color:#0D61BA;
  font-size:14px;
  font-weight:bold;
}

/************* 当前位置 */
#position {
  line-height:22px;
  padding-bottom:35px;
  color:#999;
  text-align:right;
  background:url(point.gif) left 26px repeat-x;
}

#position a {
  height:12px;
  line-height:12px;
  padding:7px 10px;
  background:url(icon02.gif) left 9px no-repeat;
  color:#999;
}

/************* 搜索 */
#search {
  height:18px;
  line-height:18px;
margin-bottom:20px;
}

#inputsearch { 
  border:none;
  margin:0px;
  padding:0px 0px 0px 17px;
  width:140px;
  height:18px;
  line-height:18px;
  font-size:12px;
  color:#666;
  background:url(search_input.gif); 
}

.s_btn {width:17px;height:18px;border:none;background:url(search.gif);}

/************* 代码高亮 */
.dp-HighLighter {border:1px solid #ccc;background:#F7F7F7 url(codebg.gif) left top repeat-y;}
.dp-HighLighter ol {padding-left:40px;}
.dp-HighLighter ol li {
  padding-left:10px;
  list-style-type:decimal;
}
.tools {padding-left:10px;background:#F7F7F7;border-bottom:1px solid #ccc;}

/************* 投票 */
.vote-list {padding:10px;}

.vote-list li {
  clear:both;
  height:20px;
  line-height:20px;
  font-size:12px;
  text-align:left;
}

.vote-list #button {
  float:right;
}

#ballot {
  height:10px;
  _height:16px;
  margin:0px 5px 0px 0px;
}

.date {float:right;color:#999;}

.list li {padding-left:20px;background:url(icon05.gif) left center no-repeat;}

.copyright {clear:both;margin:10px 0px;text-align:center;}
.copyright a {color:#999}

/* 
  --------------------------------------
  *****  9. assist (辅助)   *****
  --------------------------------------
*/
.p5 {
  padding:5px;
}

.p10 {
  padding:10px;
}

.blank5 {
  clear:both;
  height:5px;
  overflow:hidden;
}

.blank10,.blank30 {
  clear:both;
  height:10px;
  overflow:hidden;
}

.blank20 {
  height:20px;
}

.blank30 {
  height:30px;
}

.padding10 {
  padding:10px;
}

.margin5 {
  margin:5px;
}

.padding5 {
  padding:5px;
}

.blank5 {
  clear:both;
  height:5px;
  overflow:hidden;
}

.hr {
  clear:both;
  height:1px;
  background:url(point.gif) repeat-x;
}
