<div id="bd_leftg">
    <div class="box1"> 
        <div class="title2"> 
            <div class="lanwd2">查询订单</div> 
            <div class="english2">/ Order</div> 
        </div> 
        <div class="content"> 
            <div class="blank10"></div> 
            <input type="text" align="absmiple" onblur="if(this.value=='') this.value=' 订单号… '" onfocus="if(this.value==' 订单号… ') {this.value=''}" value=" 订单号… " name="oid" class="oid" id="oid" size="20" /> 
            <input type="submit" align="absmiple" class="oidbtn" value=" 查看 " name="submit" id="search_btn" />
            <div class="blank10"></div> 
        </div><!-- end: .content -->
    </div><!-- end: .box1 -->
    
    
    <div class="blank10"></div>
    
    
    
</div><!-- end: #bd_leftg -->
<div id="bd_rightg">
    <div class="rightg_content">
        <div class="rightg_title"></div>
        <div class="content2">
            <div class="pd_title"></div>
            <div id="content" class="pd"></div>
        </div>
        <div class="clear"></div>
    </div><!-- end: #rightg_content -->
    
</div><!-- end: #bd_rightg -->