<% title "#{@page.title}" -%> 
<% description @page.description -%>      
<% keywords @page.keywords -%>

<%= render_breadcrumbs -%>

<h2><%= @page.title %></h2>

<%= @page.body.html_safe %>


<div id="bd_leftg"></div><!-- end: #bd_leftg -->
<div id="bd_rightg"></div><!-- end: #bd_rightg -->
