<div class="tabs" id="">
  <ul>
      <li><%= link_to "网站配置", syspanel_site_settings_path %></li>
      <li><%= link_to "产品分类", syspanel_categories_path %></li>
      <li><%= link_to "网站导航", syspanel_navmenus_path %></li>

    </ul>
  <div style="display: none;" class="tabs-buttons">
  	<button onclick="moveTabLeft(this);" class="tab-left"></button>
  	<button onclick="moveTabRight(this);" class="tab-right"></button>
  </div>
</div>